body {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h3, h2 {
  background-color: #FFFFFF;
  text-align: center;
}
th > a {
  font-weight: normal;
  color: white;
  text-decoration: none;
}
th:hover {
  border-top: 5px maroon solid;
  border-bottom: 5px maroon solid;
}
.wrapper { 
  overflow-x:scroll;  
  margin-left:0.5em; 
  overflow-y:visible;
}
#nutrients  {
  display: table;
  border-spacing: 0px;
  border-collapse: separate;
  min-height: 1880px;
  table-layout: fixed;
  padding-left: 158px;
}
td {
  text-align: center;
}
tr .header {
  text-align: right;
  background-color: white;
  position:absolute; 
  width: 155px; 
  left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
}
th {
  background-color: #ea6153;
  line-height: 1;
}
th.header {
  height: 100%;
  text-align: center;
}
tr input {
  float: left;
  margin-left: 2px;
}
tr: nth-child(even) > td {
  background-color: #e9e9e9;
}
.category > td {
  border-bottom: 2px black solid;
  border-top: 1px grey solid;
  padding-top: 10px;  
}
td {
  margin: 0;
  padding-right: 15px;
  white-space:nowrap;
}
.sorter:before {
  content: "\21C5";
  font-size: 14px;
}
.hidden {
  color: lightgrey;
}
th.header > span {
  vertical-align: top;
  font-size: 25px;
}
span[data-navigate] { 
  cursor: pointer; cursor: hand; 
}