body {
  font-family: Helvetica, sans-serif;
}
.block {
  width: 800px;
  height: 100%;
  border: dashed;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}
h3, h2 {
  background-color: #FFFFFF;
  text-align: center;
}
.wrapper { 
  overflow-x:scroll;  
  margin-left:0.5em; 
  overflow-y:visible;
}
.category > td {
  border-bottom: black solid;
  border-top: 1px grey solid;
  padding-top: 10px;  
}

#nutrients {
  padding-left: 82px;
}

.header {
  background-color: white;
  position:absolute; 
  width:6em; 
  left:0;
  top:auto;
  border-right: 0px none black; 
}
