body {
  font-family: Helvetica, sans-serif;;
}
.block {
  width: 800px;
  height: 100%;
  border: dashed;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}
h3, h2 {
  background-color: #FFFFFF;
  text-align: center;
}

.category > td {
  border-bottom: black solid;
  border-top: 1px grey solid;
  padding-top: 10px;  
}

td {
  padding-right: 5px;
}