{% extends 'base.html' %}

{% block body %}

<table id="nutrients" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th> Nutrient </th>
    {% for row in data %}
    <th>
      <a href="{{ row.url }}">{{ row.name }}</a>
    </th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>

  <tr class="price">
    <td>Price</td>
    {% for row in data %}
      <td>{{ row.price }}</td>
    {% endfor %}
  </tr>

  <tr class="serve">
    <td>Serve</td>
    {% for row in data %}
      <td>{{ row.serving_size }}</td>
    {% endfor %}
  </tr>

  {% for category in categories %}
  <tr class="category">
    <td>{{ category }}</td>
    {% for row in data %}
      <td>{{ row["num_" + category] }}</td>
    {% endfor %}
  </tr>

  {% for nutrients in allnutrients[category] %}
  <tr>
    <td>{{ nutrients[0] }}</td>
    {% for row in data %}
    
      {% if nutrients[0] in row.nutrients[category] %}
        {% if row.nutrients[category][nutrients[0]][2] == 0 %}
        <td>{{ row.nutrients[category][nutrients[0]][1] }}</td>
        {% else %}
        <td>{{ row.nutrients[category][nutrients[0]][2] }}</td>
        {% endif %}
      {% else %}
      <td>***</td>
      {% endif %}
    {% endfor %}
  </tr> 
  {% endfor %}
   
  {% endfor %}
</tbody>
</table>

{% endblock %}


{% block scripts %}

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stupidtable.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/table.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#nutrients').stupidtable();
});
</script>

{% endblock %}

