{% extends 'base.html' %}

{% block body %}

<table id="nutrients" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Serve size</th>
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in data %}
  <tr>
    <td>{{ row.name }}</td>
    <td>{{ row.serving_size }}</td>
    {% for header in headers %}
      {% if header in row.nutrients %}
      <td>{{ row.nutrients[header][1] }}</td>
      {% else %}
      <td>**</td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}


{% block scripts %}

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stupidtable.min.js') }}"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('#nutrients').stupidtable();
});
</script>

{% endblock %}

