{% extends "base.html" %}

{% block body %}
<div class="wrapper">
<table id="nutrients" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th></th>
    <th class="header"></th>
    {% for row in data %}
    <th>
      <a href="{{ row.url }}">{{ row.name }}</a>
    </th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>

  <tr class="price">
    <td></td>
    <td class="header sorter">Price</td>
    {% for row in data %}
      <td>{{ row.price }}</td>
    {% endfor %}
  </tr>

  <tr class="price_per_serve">
    <td></td>
    <td class="header sorter">Price per serve</td>
    {% for row in data %}
      <td>{{ row.price_per_serve.toFixed(2) }}</td>
    {% endfor %}
  </tr>

  <tr class="container_size">
    <td></td>
    <td class="header sorter">Size</td>
    {% for row in data %}
      <td>
      {% set size = row.container_sizes[row.size_indexes[0]] %}
      {{ size.amount }} {{ size.unit }}
      </td>
    {% endfor %}
  </tr>

  <tr class="serving_size">
    <td></td>
    <td class="header sorter">Serve</td>
    {% for row in data %}
      <td>
       {% set size = row.serving_sizes[row.size_indexes[1]] %}
      {{ size.amount }} {{ size.unit }}
      </td>
    {% endfor %}
  </tr>

  {% for category in categories %}
  <tr class="category">
    <td></td>
    <td class="header">{{ category }}</td>
    {% for row in data %}
      <td>{{ row["num_" + category] }}</td>
    {% endfor %}
  </tr>

  {% for nutrients in allnutrients[category] %}
  <tr>
    <td><input type="checkbox" class="{{ nutrients[0].toLowerCase() }}"></td>
    <!-- <td><div  class='num_slider'></div></td> -->
    <td class="header sorter">{{ nutrients[0] }}</td>
    {% for row in data %}
      {% if row.nutrients[category].hasOwnProperty(nutrients[0]) %}
        {% if row.nutrients[category][nutrients[0]][2] == 0 %}
        <td>{{ row.nutrients[category][nutrients[0]][1] }}</td>
        {% else %}
        <td>{{ row.nutrients[category][nutrients[0]][2] }}</td>
        {% endif %}
      {% else %}
      <td>***</td>
      {% endif %}
    {% endfor %}
  </tr> 
  {% endfor %}
   
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}

{% block scripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

{% endblock %}
