{% extends "base.html" %}

{% block body %}

<table id="nutrients" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th> Nutrient </th>
    {% for row in data %}
    <th>
      <a href="{{ row.url }}">{{ row.name }}</a>
    </th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>

  <tr class="price">
    <td>Price</td>
    {% for row in data %}
      <td>{{ row.price }}</td>
    {% endfor %}
  </tr>

  <tr class="container_size">
    <td>Size</td>
    {% for row in data %}
      <td>{{ row.container_amount }} {{ row.container_unit }}</td>
    {% endfor %}
  </tr>

  <tr class="serveing_size">
    <td>Serve</td>
    {% for row in data %}
      <td>{{ row.serving_text }}</td>
    {% endfor %}
  </tr>

  {% for category in categories %}
  <tr class="category">
    <td>{{ category }}</td>
    {% for row in data %}
      <td>{{ row["num_" + category] }}</td>
    {% endfor %}
  </tr>

  {% for nutrients in allnutrients[category] %}
  <tr>
    <td>{{ nutrients[0] }}</td>
    {% for row in data %}
    
      {% if row.nutrients[category].hasOwnProperty(nutrients[0]) %}
        {% if row.nutrients[category][nutrients[0]][2] == 0 %}
        <td>{{ row.nutrients[category][nutrients[0]][1] }}</td>
        {% else %}
        <td>{{ row.nutrients[category][nutrients[0]][2] }}</td>
        {% endif %}
      {% else %}
      <td>***</td>
      {% endif %}
    {% endfor %}
  </tr> 
  {% endfor %}
   
  {% endfor %}
</tbody>
</table>

{% endblock %}
