{% extends "base.html" %}

{% block body %}

<table id="nutrients" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th></th>
    <th></th>
    {% for row in data %}
    <th>
      <a href="{{ row.url }}">{{ row.name }}</a>
    </th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>

  <tr class="price">
    <td></td>
    <td>Price</td>
    {% for row in data %}
      <td>{{ row.price }}</td>
    {% endfor %}
  </tr>

  <tr class="container_size">
    <td></td>
    <td>Size</td>
    {% for row in data %}
      <td>
      {% for size in row.container_sizes %}
        {{ size.amount }} {{ size.unit }}
        {% if not loop.last %}, {% endif %}
      {% endfor %}
      </td>
    {% endfor %}
  </tr>

  <tr class="serving_size">
    <td></td>
    <td>Serve</td>
    {% for row in data %}
      <td>
       {% for size in row.serving_sizes %}
        {{ size.amount }} {{ size.unit }}
        {% if not loop.last %}, {% endif %}
      {% endfor %}
      </td>
    {% endfor %}
  </tr>

  {% for category in categories %}
  <tr class="category">
    <td></td>
    <td>{{ category }}</td>
    {% for row in data %}
      <td>{{ row["num_" + category] }}</td>
    {% endfor %}
  </tr>

  {% for nutrients in allnutrients[category] %}
  <tr>
    <td><input type="checkbox" class="{{ nutrients[0].toLowerCase() }}"></td>
    <!-- <td><div  class='num_slider'></div></td> -->
    <td>{{ nutrients[0] }}</td>
    {% for row in data %}
    
      {% if row.nutrients[category].hasOwnProperty(nutrients[0]) %}
        {% if row.nutrients[category][nutrients[0]][2] == 0 %}
        <td>{{ row.nutrients[category][nutrients[0]][1] }}</td>
        {% else %}
        <td>{{ row.nutrients[category][nutrients[0]][2] }}</td>
        {% endif %}
      {% else %}
      <td>***</td>
      {% endif %}
    {% endfor %}
  </tr> 
  {% endfor %}
   
  {% endfor %}
</tbody>
</table>

{% endblock %}

{% block scripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" /> -->
{% endblock %}
